body {
    margin: 0;
    background-color: rgb(141, 233, 233);
}

.calculator {
    width: 50vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.matrixorder {
    align-self: center;
}

.buttons {
    align-self: flex-end;
}

.onex {
    display: none;
    align-self: center;
    margin-right: 50px;
}

.twox {
    display: none;
    align-self: center;
    margin-right: 50px;
}

.threex {
    display: none;
    align-self: center;
    margin-right: 45px;
}

#calculate {
    display: none;
}

#clear {
    display: none;
}

#result {
    display: none;
}

li {
    display: inline;
}

li input {
    background-color: rgba(205, 227, 230, 0.918);
    text-align: center;
    width: 50px;
    height: 60px;
    font-size: 30px;
}

li input:hover {
    background-color: rgba(205, 227, 230, 0.7);
}